/*styles.css*/
:root{
  --top-bar-bg-color:#880000;
  --top-bar-fg-color:#fff;
  --menu-bg-color:#330000;

  --menu-fg-color:#fff;
  --menu-group-fg-color:#ffae00;

  --content-bg-color:#ddd;
  --content-fg-color:#000;

  --footer-bg-color:#000000;
  --footer-fg-color:#bbb;

  --color-white:#fff;
  --color-black:#000;
  --shadow: 0px 2px 4px rgba(0,0,0,.1);
}

*{
    font-family: "Rajdhani", serif;
}

.rajdhani-regular {
    font-family: "Rajdhani", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rajdhani-medium {
    font-family: "Rajdhani", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .rajdhani-bold {
    font-family: "Rajdhani", serif;
    font-weight: 700;
    font-style: normal;
  }

  /* top bar*/
  .top-bar{
    background: var(--top-bar-bg-color);
    color: var(--top-bar-fg-color);
    padding: 10px;
  }

  .top-bar a {
    color: var(--menu-group-fg-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .top-bar a:hover{
    color: var(--color-white);
  }

/*menu button*/
  .btn-main-menu{
    /*display:none*/
    color:var(--color-white);
    background: var(--menu-bg-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
  }

  .btn-main-menu:hover{
    background: var(--color-white);
    color:var(--color-black);
  }

  /*main menu*/
  .main-menu{
    background: var(--menu-bg-color);
    color: var(--menu-fg-color);
    min-height: 100vh;
    min-width: 250px;
    z-index: 1000;
    transition: transform 0.3s ease;
  }

  .menu-group{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0px 10px;
    color: var(--menu-group-fg-color)
  }

  .main-menu ul{
    list-style: none;
    padding: 5px 0px;
  }

  .main-menu ul li{
    margin-bottom: 0px;
  }

  .main-menu ul li a{
    color: var(--menu-fg-color);
    text-decoration: none;
    transition: background 0.3s ease;
    display: inline-block;
    padding: 5px 10px;
  }

  .main-menu ul li:hover{
    background: var(--top-bar-bg-color);
    color: var(--color-black);
  }

  /*contnt*/
  .content{
    background: var(--content-bg-color);
    color: var(--content-fg-color);
  }

  .content-box{
    background:var(--color-white);
    color:var(--color-black);
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: var(--shadow);
  }

  .content-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:var(--top-bar-bg-color)
  }

  /*buttons*/
  .btn-cig{
    background: var(--top-bar-bg-color);
    border: 1px solid var(--top-bar-bg-color);
    color: var(--color-white);
    padding: 5px 30px;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
  }

  .btn-cig:hover{
    background: var(--menu-bg-color);
  }

