/*styles.css*/
:root{
  --top-bar-bg-color:#880000;
  --top-bar-fg-color:#fff;
  --menu-bg-color:#330000;

  --menu-fg-color:#fff;
  --menu-group-fg-color:#ffae00;

  --content-bg-color:#ddd;
  --content-fg-color:#000;

  --footer-bg-color:#000000;
  --footer-fg-color:#bbb;

  --color-white:#fff;
  --color-black:#000;
  --shadow: 0px 2px 4px rgba(0,0,0,.1);

  --login-bg-page-01: #940101;
  --login-bg-page-02: #290000;

  --login-bg-box-01:#FFE2bb;
  --login-bg-box-02:#a1816f;

  --btn-login-border:#7E634C;
  --btn-login-hover:#290000;

  --login-link:#290000;
  --login-link-hover:#B65200;
}

*{
    font-family: "Rajdhani", serif;
}

body{
  background-color: var(--content-bg-color);
}

  /* top bar*/
  .top-bar{
    background: var(--top-bar-bg-color);
    color: var(--top-bar-fg-color);
    padding: 10px;
  }

  .top-bar a {
    color: var(--menu-group-fg-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .top-bar a:hover{
    color: var(--color-white);
  }

/*menu button*/
  .btn-main-menu{
    display:none;
    color:var(--color-white);
    background: var(--menu-bg-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
  }

  .btn-main-menu:hover{
    background: var(--color-white);
    color:var(--color-black);
  }

  /*main menu*/
  .main-menu{
    background: var(--menu-bg-color);
    color: var(--menu-fg-color);
    min-height: 90vh;
    min-width: 250px;
    max-width: 250px;
    z-index: 1000;
    transition: transform 0.3s ease;
  }

  .menu-group{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0px 10px;
    color: var(--menu-group-fg-color)
  }

  .main-menu ul{
    list-style: none;
    padding: 5px 0px;
  }

  .main-menu ul li{
    margin-bottom: 0px;
  }

  .main-menu ul li a{
    color: var(--menu-fg-color);
    text-decoration: none;
    transition: background 0.3s ease;
    display: inline-block;
    padding: 5px 10px;
  }

  .main-menu ul li:hover{
    background: var(--top-bar-bg-color);
    color: var(--color-black);
  }

  /*contnt*/
  .content{
    background: var(--content-bg-color);
    color: var(--content-fg-color);
  }

  .content-box{
    background:var(--color-white);
    color:var(--color-black);
    padding: 20px;
    margin: 5px 0px;
    border-radius: 5px;
    box-shadow: var(--shadow);
  }

  .content-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:var(--top-bar-bg-color)
  }

  /*buttons*/
  .btn-cig{
    background: var(--top-bar-bg-color);
    border: 1px solid var(--top-bar-bg-color);
    color: var(--color-white);
    padding: 5px 30px;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
  }

  .btn-cig:hover{
    background: var(--menu-bg-color);
  }

  .btn-cig-outline{
    background: transparent;
    border: 1px solid var(--top-bar-bg-color);
    color: var(--color-black);
    padding: 5px 30px;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
  }

  .btn-cig-outline:hover{
    background: var(--top-bar-bg-color);
    color: var(--color-white);
  }

  .footer{
    background: var(--footer-bg-color);
    color: var(--footer-fg-color);
    padding: 10px;
    text-align: center;
  }


  /*responsive*/
  @media screen and (max-width: 768px){
    .main-menu{
      position: fixed;
      transform: translateX(-100%);
    }

    .btn-main-menu{
      display: flex;
    }

    .main-menu.show{
      transform: translateX(0%);
    }
  }

  /*login page*/

  .login-page-background{
    background: radial-gradient(circle at top, var(--login-bg-page-01), var(--login-bg-page-02));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-box{
    background:linear-gradient(to bottom, var(--login-bg-box-01), var(--login-bg-box-02));
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 12px 4px rgba(0,0,0,.5);
    width: 400px;
  }

  .btn-login{
    text-decoration: none;
    background: transparent;
    color: var(--color-black);
    border: 1px solid var(--btn-login-border);
    box-shadow: 0 0 6px 3px rgb(0, 0, 0, .1);
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    transition: color 0.3s ease-in-out;
  }

  .btn-login:hover{
    background: var(--btn-login-hover);
    color: var(--color-white);
  }

  .login-link a {
    color: var(--login-link);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
  }

  .login-link a:hover{
    color: var(--login-link-hover);
  }

  /*products*/

  .product-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  /*stock image*/
  .stock-image{
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
  }

  .overflow-hidden{
    overflow: hidden;
  }

  /*Home link*/
  .home-link{
    color: var(--menu-bg-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }

  .home-link:hover{
    color: var(--top-bar-bg-color);
    text-decoration: underline  ;
  }